@page "/fetchdata"

@using ComponentesBotonesContador.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>
<br />
<br />
<label>Incremento 3:</label>
<input type="number" @bind="Incremento3" />
<button class="btn btn-outline-primary" @onclick="Incrementar3">Contador 3</button>
<p>Cuenta actual: @tercerIncremento</p>

@code{

    private int tercerIncremento;

    [Parameter]
    public int Incremento3 { get; set; }

    private void Incrementar3()
    {
        tercerIncremento += Incremento3;
    }
}

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
